body {
    background-color: #FFFAF0;
}

.img {
    width: 200px; 
}

#timer { 
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color:  #5b166d;
    animation: beatBeat 0.9s ease alternate infinite;
}

@keyframes beatBeat {
    0% {
        transform: scale(1);

    }
    80% {
        transfom: scale(1);
    }
    100% {
        transform: scale(1.3);
        transition-property: transform;
        transition-duration: 1s;
    }
} 
   
#scoreDiv {
    margin: auto;   
    height: 70px;
    width: 40%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 900;
    color: rgba(190, 57, 202, 0.863);
}

#div {
    height: 600px;
    width: 40%;
    margin: auto;
    position: relative;
    display: block;
    background: -webkit-radial-gradient(circle, #f06afc, #491755);
    overflow: hidden;
    border: 1px solid blak;
    border-radius: 5%;
    
}

.intro {
    animation: fade 1s 2s linear reverse forwards;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: fade;
    text-align: center;
    z-index: 0;
    display:block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: calc(20pt + 1.1vw);
    color: #751a8b;
}

@keyframes fade {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
button {
  outline: none;
}

#butt {
    height: 120px;
    width: 120px;
    border: 0cm;
    background-color: #491755;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(20pt + 1.1vw);
    color: #f06afc;
    display: block;
    margin: 0 auto;
    margin-top: 250px;
    
    border-radius: 50%;
   
}

#butt:hover {
    color: azure;
    letter-spacing: 5px;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 5px 5px 50px 5px rgba(141, 141, 141, 0.57);
    height: 150px;
    width: 150px;
 
}

#ul2 {
    list-style: none;
    position: absolute;
    right: 330px;
    margin-top: 180px;
}

li {
    padding: 20px;
}

#hardBut {
    height: 80px;
    width: 80px;
    border: none;
    background-color: rgb(163, 76, 175);
    color: aliceblue;
    text-align: center;
    border-radius: 50%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

#easyBut {
    height: 80px;
    width: 80px;
    border: none;
    background-color: rgb(220, 136, 231);
    text-align: center;
    color: aliceblue;
    border-radius: 50%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    
}

#easyBut:hover , #easyBut:focus , #hardBut:hover, #hardBut:focus{
    letter-spacing: 3px;
    -webkit-box-shadow: 5px 5px 50px 15px rgba(141, 141, 141, 0.57);
    transition: all 0.5s ease-out;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    height: 100px;
    width: 100px;
}

 #records {
    width:auto;
    height: auto;
    background-color: #17192c;
}

form {

   position: fixed;
   margin-left:1600px;
   background-color: #f3efef;
   height: auto;
   width: 220px;
   border-radius: 15px;
 
}

#store {
   
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    border-radius: 8px;
}

#usersDiv {
    height: 400px;
    width: 220px;
    margin-left: 80px;
    background-color: #f3efef;
    border-radius: 15px;
    position:absolute;
}

input {

    width: 200px;
    height: 30px;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 8px;
    border-color: rgb(208, 181, 211);
    background-color: #ffffff;
    position: relative;
  }

#p1 {
      margin-left: 82%;
      color: rgb(255, 255, 255);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 23px;
     
      font-weight: 900;
      text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
#p2 {
    position: fixed;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    font-weight: 900;
}
span {
     padding-top: 10px;
      padding-bottom: 20px;
      color: rgb(255, 255, 255);
      font-size: large;
    
    
  }
  tr{
      color: rgb(172, 108, 185);
   
  }
